nav {
    display: flex;
    background-color: #414141;
    color: #d3d3d3;
    margin-bottom: 1em;
  }
  
  nav li {
    list-style: none;
    padding: .5em;
  }
  
  .primary-btn {
    padding: 5px;
    border-radius: 7px;
    font-size: 1.2em;
    cursor: pointer;
  }